.submit-question {
	background: url(../img/submit_question.png) no-repeat;
	background-size: cover;
	width: 900px;
	height: 380px;
	position: absolute;
	top: 270px;
	left: 50%;
	margin-left: -450px;
}